body {
  margin: 0;
  padding: 0;
  background-color: #FFF48B;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

a {
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	color: black;
}

h2 {
	margin-bottom: 1em;
}

img {
	margin-bottom: 1em;
}

/* top navigation bar */
#navbar {
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
}

#navbar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

#right-navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 25em;
}

/* content */
.content {
  height: 90vh;
  display: flex;
  justify-content: center;
}

#splash {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

#splash-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

#image1 {
  width: 85%;
  height: auto;
  padding-left: 80px;
}

#learn-button {
	margin-top: 1em;
	width: 150px;
}

#about {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-content {
  width: 60%;
  text-align: center;
}

#about-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-image {
  width: 100%;
  height: auto;
}

.card {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#about2-content {
	width: 60%;
	margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#image5 {
  width: 80%;
  height: auto;
}

/* sign up section */

#signup {
  height: 40vh;
}

#signup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* bottom sign up button */
button {
  color: black;
  background: white;
  padding: 0.5em 1.5em;
  border: 1px solid #000000;
  margin: 0 0.4em 0.4em 0;
  border-radius: 0.7em;
  cursor: pointer;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 900;
}

button:hover {
  background: #e8e7e6;
}

#signup-button {
  background: #FFF48B;
}
